# App Configuration
# The local directory where your PDFs are stored (Absolute path recommended)
LOCAL_PATH=C:\Users\Cauan\Documents\Receipts

# Flask Config
FLASK_APP=server.py
FLASK_ENV=development
PORT=5000
